---
layout: default
permalink: /projects/
---
	<div id="wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="./index.html">Xi Bai</a></h1>
				<p>personal page</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li class="active"><a href="#">Projects</a></li>
					<li><a href="/publications">Publications</a></li>
				</ul>
			</div>
		</div>
		<div id="page" class="container">
			<div id="content">
				<div class="post">
					<div class="title">
						<h2>Current Projects:</h2>
					</div>
					{% for project in site.data.projects['@graph'] %}
						{% if project['foaf:pastProject'] != nil %}
							{% assign current_projects = project['foaf:currentProject'] %}
							{% assign past_projects = project['foaf:pastProject'] %}	
						{% endif %}
					{% endfor %}
					<div class="entry">
					{% for current_project in current_projects %}
						{% for project in site.data.projects['@graph'] %}
							{% if project['@id'] == current_project['@id'] %}
								<ul rel="foaf:currentProject">
									<li>
										<a rel="foaf:homepage" href="{{ project['foaf:homepage']['@id'] }}" property="foaf:name">{{ project['foaf:name']['@value'] }}</a>: <span property="rdfs:comments"> {{ project['rdfs:comments']['@value']}}</span>
									{% if project['foaf:logo'] != nil %}
										<div rel="foaf:logo" resource="{{ project['foaf:logo']['@id'] }}"></div>
									{% endif %}
									</li>
								</ul>
							{% endif %}
						{% endfor %}
					{% endfor %}													
					</div>
				</div>
				<div class="post">
					<div class="title">
						<h2>Past Projects:</h2>
					</div>
					<div class="entry">						
					{% for past_project in past_projects %}
						{% for project in site.data.projects['@graph'] %}
							{% if project['@id'] == past_project['@id'] %}
								<ul rel="foaf:pastProject">										
									<li>
										<a rel="foaf:homepage" href="{{ project['foaf:homepage']['@id'] }}" property="foaf:name">{{ project['foaf:name']['@value'] }}</a>: <span property="rdfs:comments"> {{ project['rdfs:comments']['@value']}}</span>
									{% if project['foaf:logo'] != nil %}
										<div rel="foaf:logo" resource="{{ project['foaf:logo']['@id'] }}"></div>
									{% endif %}
									</li>
								</ul>										
							{% endif %}
						{% endfor %}
					{% endfor %}						
					</div>
				</div>
				<div class="post">
					<div class="title">
						<h2>Code:</h2>
					</div>
					<div class="entry">
			
							<ul>
							{% for project in site.data.projects['@graph'] %}								
								{% if project['rdfs:label'] != nil %}
									<li class="repologo"><a rel="foaf:account" href="{{ project['@id'] }}"><span property="rdfs:label" content="{{ project['rdfs:label']['@value'] }}"><img src="../images/code{% cycle 1, 2 %}.jpg" alt="" /></span></a></li>
								{% endif %}
							{% endfor %}
								<!--
<li class="repologo"><a rel="foaf:account" href="https://github.com/baxtree"><span property="rdfs:label" content="GitHub"><img src="../images/code1.jpg" alt="" /></span></a></li>
								<li class="repologo"><a rel="foaf:account" href="http://sourceforge.net/u/baxtree/profile/"><span property="rdfs:label" content="SourceForge"><img src="../images/code2.jpg" alt="" /></span></a></li>
-->
							</ul>
					
					</div>
				</div>
				<div class="post">
					<div class="title">
						<h2>Patent</h2>
					</div>
					<div class="entry">
					{% for project in site.data.projects['@graph'] %}
						{% if project['dcterms:title'] != nil %}
							<ul rev="dc:creator">
								<li typeof="dcmi:Text">
									<span property="dc:title">{{ project['dcterms:title']['@value'] }}</span>
								</li>
							</ul>
						{% endif %}
				    {% endfor %}	
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="section0"></div>
				<div class="section1">
					<p class="logo"><a 
	href="http://metastyle.cfapps.io/"><img src="../images/metastyle.png" alt="" 
	/></a></p>
					<p class="logo"><a href="http://groups.inf.ed.ac.uk/OK/drupal/okeilidh/"><img src="../images/okeilidh.jpg" alt="" /></a></p>
					<p class="logo"><a href="http://demos.inf.ed.ac.uk:8836/rdfasquare"><img src="../images/rdfasquare.jpg" alt="" /></a></p>
					<p class="logo"><a href="http://okbook.inf.ed.ac.uk/"><img src="../images/okbook.png" alt="" /></a></p>
				</div>
				<div class="section2">
					<p class="logo"><a href="http://www.ecobusiness.cat/"><img src="../images/ecobusiness.png" alt="" /></a></p>
					<p class="logo"><a href="http://www.sos4business.uk.com/sos-travel-hub-%281%29/sos-travel-hub-.aspx"><img src="../images/travelhub.jpg" alt="" /></a></p>
					<p class="logo"><a href="http://www.openk.org/"><img src="../images/openknowledge.gif" alt="" /></a></p>
					<p class="logo"><a href="http://www.sindice.com/"><img src="../images/sindice.png" alt="" /></a></p>
					<p class="logo"><a href="/"><img src="../images/crab.jpg" alt="" /></a></p>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
		
		<div id="footer" class="container">
			<p>Inspired by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
		</div>
	</div>
</div>