<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta property="og:title" content="Xi Bai's Homepage" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://baixi.info/" />
	<meta property="og:image" content="http://baixi.info/images/xi-m.jpg" />
	<meta property="fb:admins" content="baxtree" />
	<meta property="og:site_name" content="GitHub Pages server" />
	<meta property="og:description" content="Welcome to Xi Bai's personal space." />
	<meta property="og:latitude" content="51.5126" />
	<meta property="og:longitude" content="0.2245" />
	<meta property="og:locality" content="London" />
	<meta property="og:region" content="London Borough of Hammersmith and Fulham" />
	<meta property="ogcountry-name" content="London, UK" />
	<title>Xi Bai's Homepage</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
	<link rev="foaf:homepage" rel="foaf:primaryTopic foaf:maker" href="http://baixi.info/#me" />
</head>
