---
layout: default
permalink: /publications/
---
	<div id="wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="index.html">Xi Bai</a></h1>
				<p>personal page</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li class="active"><a href="#">Publications</a></li>
				</ul>
			</div>
		</div>
		<div id="page" class="container">
			<div id="content">
				<div class="post">
					<div class="title">
						<h2>Publications:</h2>
					</div>
					<div class="entry">					
					{% for publication in site.data.publications['@graph'] %}
						{% if publication['dcterms:title'] != nil && publication['dcterms:creator'] !=nil %}
							<ul rev="dc:creator">
	                            <li style="list-style-type: none;"><b>{{ publication['dcterms:date']['@value'] }}</b></li>
	                            <li>
	                                <a href="{{ publication['@id'] }}" resource="{{ publication['@id'] }}"><span property="dc:title">{{ publication['dcterms:title']['@value'] }}</span></a><br/><span about="{{ publication['@id'] }}"><span property="dc:description">{{ publication['dcterms:description']['@value'] }}</span><span property="dc:date" content="{{ publication['dcterms:date']['@value'] }}"></span></span>
	                            </li>		                        
	                        </ul>	
                        {% endif %}
					{% endfor %}	
					</div>
				</div>
				<div class="post">
					<div class="title">
						<h2>PC memberships</h2>
					</div>
					<div class="entry">
	
							<ul rel="swc:holdsRole">
							{% for publication in site.data.publications['@graph'] %}
								{% if publication['rdfs:label'] != nil %}
									<li typeof="swc:PCMember"><span rel="swc:isRoleAt"><a property="rdfs:label" rel="foaf:homepage" href="{{ publication['foaf:homepage']['@id'] }}">{{ publication['rdfs:label']['@value'] }}</a></span></li>
								{% endif %}
							{% endfor %}
							</ul>

					</div>
				</div>
				<div class="post">
					<div class="title">
						<h2>Teaching:</h2>
					</div>
					<div class="entry">
	
							<ul rel="foaf:pastProject">
								{% for publication in site.data.publications['@graph'] %}
									{% if publication['foaf:name'] != nil %}
										{% for course in publication['foaf:name'] %}
											<li>
												TA for <a rel="foaf:homepage" href="{{ publication['foaf:homepage'][forloop.index]['@id'] }}" property="foaf:name">{{ course['@value'] }}</a>
											</li>
										{% endfor %}
									{% endif %}
								{% endfor %}
							</ul>
	
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="section0"></div>
				<div class="section1">
					<h2>Posters:</h2>
					{% for publication in site.data.publications['@graph'] %}
						{% if publication['dcterms:title'] == nil and publication['dcterms:creator'] != nil %}
							<p class="poster"><a rev="dc:creator" href="{{ publication['@id'] }}"><img src="{{ publication['@id'] | replace: '/docs/', '/images/' | replace: '.pdf', '.jpg'}}" alt="" /></a></p>
						{% endif %}
					{% endfor %}
				</div>
				<div class="section2">
				</div>
			</div>
	
			<div class="clearfix">&nbsp;</div>
		</div>
		<div id="footer" class="container">
			<p>Inspired by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
		</div>
	</div>